div.kcw-gallery-wrapper {
    min-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

div.kcw-gallery-list-container {

}

ul.kcw-gallery-list {
    list-style-type: none;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul.kcw-gallery-list li {
    border-bottom: 1px solid #ccc;
    padding: 2px 5px;
    cursor: pointer;
}

ul.kcw-gallery-list li:hover {
    background-color:rgba(229, 229, 229, .8);
}

ul.kcw-gallery-list li a {
    font-size: 20px;
    margin-left: 10px;
}
ul.kcw-gallery-list li > span {
    font-size: 20px;
    text-align: right;
    float: right;
    margin-right: 10px;
}
ul.kcw-gallery-list li > span span:nth-child(2) {
    font-size: 25px;
    margin-left: 10px;
}
ul.kcw-gallery-list li:last-child {
    border-bottom: none;
}

div.kcw-gallery-display {
    padding: 0px;
}

div.kcw-gallery-pagination-wrapper {
    width: 100%;
    margin: 5px 0px;
}

ul.kcw-gallery-pagination {
    text-align: right;
}

ul.kcw-gallery-pagination li {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

ul.kcw-gallery-pagination li a {
    text-decoration: none;
    padding: 0px 5px;
    border: 1px solid #efefef;
    background-color: transparent;
    color: #636363;
    font-size: 20px;
    line-height: 24px;
}

ul.kcw-gallery-pagination li a.current_page, ul.kcw-gallery-pagination li a.current_page:hover {
    background-color: rgba(229, 229, 229, .8);
    border-color: #ccc;
    color: #030303;
}

ul.kcw-gallery-thumbs {
    width: 100%;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
}

ul.kcw-gallery-thumbs li {
    display: inline-block;
    margin: 1px 2px;
}
ul.kcw-gallery-thumbs li img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
}

img.kcw-gallery-loading {
    background-color: rgba(255, 255, 255, .85);
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 25px;
    position: absolute;
}

@media only screen and (max-aspect-ratio: 4/3) {
    ul.kcw-gallery-thumbs li img {
        width: 150px;
        height: 150px;
        border-radius: 5px;
    }
    ul.kcw-gallery-pagination li {
        margin-left: 15px;
    }
    ul.kcw-gallery-pagination li a {
        padding: 5px 12.5px;
        font-size: 25px;
    }
}
@media only screen and (max-aspect-ratio: 1/1) {
    ul.kcw-gallery-thumbs li img {
        width: 125px;
        height: 125px;
        border-radius: 5px;
    }
    
    ul.kcw-gallery-pagination li {
        margin-left: 10px;
    }
    ul.kcw-gallery-pagination li a {
        padding: 3px 10px;
        font-size: 20px;
    }
}
@media only screen and (max-aspect-ratio: 3/4) {
    ul.kcw-gallery-thumbs li img {
        width: 100px;
        height: 100px;
        border-radius: 5px;
    }
    ul.kcw-gallery-pagination {
        text-align: center;
        padding: 0px;
        margin: 0px;
    }
    ul.kcw-gallery-pagination li {
        margin-left: 5px;
    }
    ul.kcw-gallery-pagination li a {
        padding: 0px 5px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 1300px) {
    ul.kcw-gallery-pagination li {
        margin-left: 10px;
    }
    ul.kcw-gallery-pagination li a {
        padding: 0px 5px;
        font-size: 25px;
    }
}

@media only screen and (max-width: 900px) {
    ul.kcw-gallery-thumbs li img {
        width: 100px;
        height: 100px;
        border-radius: 5px;
    }
    ul.kcw-gallery-pagination li {
        margin-left: 10px;
    }
    ul.kcw-gallery-pagination li a {
        padding: 0px 5px;
        font-size: 20px;
    }
}

/* For mobile */
@media only screen and (max-width: 500px) {
    ul.kcw-gallery-pagination li {
        margin-left: 5px;
    }
    ul.kcw-gallery-pagination li a {
        padding: 0px 5px;
        font-size: 20px;
    }
    ul.kcw-gallery-list li > span {
        font-size: 17.5px;
    }
    ul.kcw-gallery-list li a {
        font-size: 17.5px;
    }
}

